{% load static %}
{% include "head.html" %}
{% load crispy_forms_tags %}
{% include "header.html" %}
<link rel="stylesheet" href="{% static '/css/base_main.css' %}">
<style>
    .header, .header-frame{
        display: none;
    }
    .mycabinet{
        display: none;
    }
</style>
<body>

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ user.username }} adlı profilin redaktəsi</h1>
            </div> 
        </div> 
    </div> 
</header> 

<div class="ex-basic-1">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12" style="display: flex;">
                <div class="breadcrumbs">
                    <a href="{% url 'academy' %}">Home</a><i class="fa fa-angle-double-right"></i><span>Profili redaktə et</span>
                </div>
                <div style="margin-left: auto;">
                    <li class="dropdown">
                        <div class="dd-button" >
                            {{ user.username }}<i style="margin-left: auto; margin-right: 5px;" class="profile-options-icons fa-solid fa-user"></i>
                        </div>
                        <ul class="dd-menu dropdown-menu" style="width: 200px !important;">
                            <a class="li-dec" href="{% url 'base' %}">
                                <li class="prifel-options" >Blockchain Cabinet<i class="profile-options-icons fa-solid fa-chalkboard"></i></li>
                            </a>
                            <a class="li-dec" href="{% url 'academy' %}">
                                <li class="prifel-options border-top">Çıxış et <i class="profile-options-icons fa fa-sign-out"></i> </li>
                            </a>
                        </ul>
                    </li>
                </div>
            </div> 
        </div> 
    </div> 
</div>

<div class="container-fluid">
    <div class="container items-wrapper">
        <div class="pass-items-wrapper">
            <div class="item-title" >
                <span>Ad, soyad:</span>
            </div>
            <div class="item-self-wrapper" >
                <h6 class="item-self" >{{ user.first_name }} {{ user.last_name }}</h6>
            </div>
        </div>
        <div class="pass-items-wrapper">
            <div class="item-title" >
                <span>İstifadəçi adı:</span>
            </div>
            <div class="item-self-wrapper" >
                <h6 class="item-self" >{{ user.username }}</h6>
            </div>
        </div>
        <div class="pass-items-wrapper">
            <div class="item-title" >
                <span>E-poçt adresi:</span>
            </div>
            <div class="item-self-wrapper" >
                <h6 class="item-self" >{{ user.email }}</h6>
            </div>
        </div>
        <hr>
        <div class="pass-items-wrapper">
            <div class="reset-title-wrapper">
                <h1 class="reset-title">Şifrəni dəyişmək istəyirsən?</h1>
            </div>
            <div class="container registerform">
                {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <fieldset style="display: none;" class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    
                    <div class="btns-wrapper">
                        <div class="form-group">
                            <button class="btn-solid-reg page-scroll" type="submit">Şifrəni dəyiş</button>
                        </div>
                        <div class="form-group">
                            <a class="btn-solid-reg page-scroll" href="{% url 'base' %}">Kabinetə qayıt</a>
                        </div>
                    </div>
                </form>
                <style>
                    .requiredField{
                        display: none;
                    }
                </style>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static '/js/custom.js' %}"></script>
<style>
    .cc-80ms{
        font-size: 50px !important;
    }
    .cc-18hf{
        display: none !important;
    }
    input{
    font: 1em/1.25em Arial, Helvetica, sans-serif;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
    //First hide the alert :
      $("#example").hide();
      
    // then bind the click :
    $("#alert-trigger").on("click", function () {
      
      $("#example").fadeIn(); // Shows the alert
      
      window.setTimeout(function() {
        $("#example").fadeOut(); // hides it again
      }, 3000);
      
    });
    });

    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/62abc9347b967b117994f5bc/1g5ngju4e';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();


    $(document).ready(function(){
    $(".dropdown").click(function(){
        $(this).find(".dropdown-menu").slideToggle("fast");
    });
    });
    $(document).on("click", function(event){
    var $trigger = $(".dropdown");
    if($trigger !== event.target && !$trigger.has(event.target).length){
        $(".dropdown-menu").slideUp("fast");
    }            
    });

    let myInput = document.querySelector('input[name="email"]');
    var email = "{{user.email}}";
    myInput.value = email;
</script>

{% include "scripts.html" %}
{% include "footer.html" %}
<!--  -->
