{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .footer, .footer-frame, .copyright, .header, .header-frame{
        display: none;
    }
    body{
        background-color: #201F7C;
    }
    .registerform{
        background-color: #F3F7FD;
        border-radius: 20px;
    }
    .asteriskField, .btn-outline-sm{
        display: none !important;
    }
    .registerform{
        height: fit-content;
        width: 500px;
        padding: 50px !important;
        margin-bottom: 100px !important;
    }
    #hint_id_password2, #hint_id_username{
        display: none !important;
    }
    .formtitle{ 
        margin-top: 100px;
        text-align: center;
    }
    .formhhead{
        color: white;
        letter-spacing: -0.2px;
        font: 700 2.5rem/3.125rem "Open Sans", sans-serif;
        margin-bottom: 20px;
    }
    .haveaccount, .haveaccount:hover{
        text-decoration: none;
    }
    @media (max-width: 700px) {
	.registerform{
		width: 350px !important;
        padding: 20px !important;
	}
    .formhhead{
        font-size: 30px !important;
    }
}
</style>

<div class="formtitle">
    <h1 class="formhhead">Şifrəni dəyiş</h1>
</div>

<div class="container registerform">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <div class="alert alert-success" role="alert">
                E-poçt adresinə şifrənin dəyişilməsi üçün link göndərildi!
            </div>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Hesabın yoxdur? <a class="ml-2 haveaccount" href="{% url 'register' %}">Qeydiyyatdan keç</a>
        </small>
    </div>
</div>

<br>

{% endblock content %}