{% load static %}
{% include "head.html" %}
{% include "header.html" %}
<style>
    .header, .header-frame{
        display: none;
    }
    .lougoutcabinet{
        display: none;
    }
</style>
<body>

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>FAQ</h1>
            </div> 
        </div> 
    </div> 
</header> 

<div class="ex-basic-1">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="{% url 'academy' %}">Home</a><i class="fa fa-angle-double-right"></i><span>FAQ</span>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 


<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Tez-tez </span> verilən sullar</h3>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. Niyə məhz Blockchain Academy?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Blockchain Academy bu sahədə ölkəmizdə yeganə rəsmi tədris mərkəzidir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">2. İnvestisiya sahəsini öyrənmək nə üçün lazımdır?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Bu günə olan düzgün investisiya gələcəkdə sizin uğurlu həyat hekayənizin ilk başlanğıcı ola bilər.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">3. Kriptovalyuta dərslərində biz nə öyrənəcəyik?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p> 
                                    <ul>
                                        <li>
                                            <p>Kriptovalyutaya giriş</p>
                                        </li>
                                        <li>
                                            <p>Fundamental analiz</p>
                                        </li>
                                        <li>
                                            <p>Texniki analiz</p>
                                        </li>
                                        <li>
                                            <p>Price action</p>
                                        </li>
                                        <li>
                                            <p>Riskin və balansın idarə edilməsi</p>
                                        </li>
                                        <li>
                                            <p>Ticarət strategiyası və psixologiyası</p>
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingFour">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">4. Kursun müddəti nə qədər vaxt təşkil edir?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Kurslarımızda təlimlər adətən qrup şəklində 3 ay (24 dərs), individual olaraq isə 2 ay (16 dərs) müddətində başa çatır.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingFive">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseThree">5. Dərslər hansı formada təşkil olunur?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Dərslərimiz həm əyani qaydada ofisimizdə, həmdə online qaydada saytımız üzərindən keçirilir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingSix">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseThree">6. Dərs qrafikləri adətən hansı günlərə və saatlara əsasən təyin olur?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Dərs qrafiklərimiz günorta və iş adamlarını nəzərə alaraq axşam saatlarında olur. (Qrupun ortaq istəyinə əsasən də planlaşdırmaq mümkündür.)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingSeven">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseThree">7. Kurslarınızdan necə yararlana bilərik?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Kurslarımıza qatılmaq üçün saytımızın "əlaqə" bölməsinə daxil olaraq əməkdaşlarımızdan məlumat əldə edə bilərsiniz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingEight">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseThree">8. Endirim və kompaniyanalarınız olur?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseEight" aria-labelledby="headingEight" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Bəli, müəyyən şərtlərə və özəl gümlərə əsasən akademiyamızın bir parçası olmaq istəyən tələbələrimizi sevindirməyi bacarırıq. Tam ətrafı məlumat kursa qatılmaq istəyərkən əməkdaşlarımız tərəfindən sizə bildiriləcək.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.10s" style="visibility: visible; animation-delay: 0.10s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingNine">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseThree">9. Sonda sertifikat əldə etmək şansımız var?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseNine" aria-labelledby="headingNine" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Bəli kursu tam başa vuran tələbələr üçün son da istəklərinə əsasən praktiki imtahan təşkil edib bilik səviyyələrini ölçərək ona uyğun puanda sertifikat və bəzi kriptovalyutalar hədiyyə edirik.</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card border-0 wow fadeInUp" data-wow-delay="0.11s" style="visibility: visible; animation-delay: 0.11s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTen">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseThree">10. Sonda sertifikat əldə etmək şansımız var?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTen" aria-labelledby="headingTen" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Bəli kursu tam başa vuran tələbələr üçün son da istəklərinə əsasən praktiki imtahan təşkil edib bilik səviyyələrini ölçərək ona uyğun puanda sertifikat və bəzi kriptovalyutalar hədiyyə edirik.</p>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Sualınıza cavab tapa bilmədiniz?</p>
                    <a href="{% url 'contact' %}"> Əlaqə saxlayın</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container" id="abune">
                    <h2>Yeniliklərdən və kampaniyalarımızdan əvvəlcədən xəbər tut</h2>
                    <form id="newsletterForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="nemail" required>
                            <label class="label-control" for="nemail">E-poçt adresi</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Abunə ol</button>
                        </div>
                        <div class="form-message">
                            <div id="nmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="icon-container">
                    <span class="fa-stack">
                        <a href="#https://www.facebook.com/blockchainacademy.az">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <!-- <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span> -->
                    <!-- <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-pinterest-p fa-stack-1x"></i>
                        </a>
                    </span> -->
                    <span class="fa-stack">
                        <a href="#https://www.instagram.com/blockchainacademy.az/">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#https://wa.me/994504107075">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-whatsapp fa-stack-1x"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% include "scripts.html" %}
{% include "footer.html" %}
