{% load static %}
{% include "head.html" %}
{% include "header.html" %}
<style>
    .header, .header-frame{
        display: none;
    }
    .lougoutcabinet{
        display: none;
    }
</style>
<body>

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Fundamental Analiz nədir?</h1>
            </div> 
        </div> 
    </div> 
</header> 

<div class="ex-basic-1">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="{% url 'academy' %}">Home</a><i class="fa fa-angle-double-right"></i><span>Fundamental Analiz</span>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Fundamental analiz</h2>
                    <p>Fundamental analiz investorlar və treyderlər tərəfindən investisiya alətlərinin real dəyərini təyin etmək üçün istifadə olunan bir üsuldur. Bu analiz metoduna aktivə təsir edə biləcək daxili və xarici amillər, aktivin "metrics" və əsas atributları aiddir.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Termin və keyword'lar</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Kriptoların əsas metrics və atributları</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Analiz resursları  və isitafəsi</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">DEX/CEX və istifadəsi</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">İCO/İDO</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Walletlər və növləri</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Staking/Farming</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Mining pools</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="{% url 'contact' %}">Sən də qoşul</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/fundamental.png' %}" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% include "scripts.html" %}
{% include "footer.html" %}

