{% load static %}
{% include "head.html" %}
{% include "header.html" %}
<style>
    .header, .header-frame{
        display: none;
    }
    .lougoutcabinet{
        display: none;
    }
</style>
<body>

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Price Action nədir?</h1>
            </div> 
        </div> 
    </div> 
</header> 

<div class="ex-basic-1">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="{% url 'academy' %}">Ana səhifə</a><i class="fa fa-angle-double-right"></i><span>Price Action</span>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Price action</h2>
                    <p>Price action texniki analizin bir növü olub "Smart money" konseptinə əsaslanır. Smart money (ağıllı pul) dedikdə marketmaker'lər - korporativ şirkətlər və "balinalar" tərəfindən bazara daxil olan və bazardan çıxan pul nəzərdə tutulur.</p>
                    <div class="container" style="display: flex; flex-wrap: wrap;" >
                        <ul class="list-unstyled li-space-lg" style="padding-right: 150px;">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Tradingview ilə tanışlıq</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Marketin strukturu</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Point of interest</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Mitigation</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Breaker</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Order block</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Break of structure</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Imabalance</div>
                            </li>
                        </ul>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Likvidlik</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Range</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Optimal trade entry, Fibonaççi</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Setup-ın qurulmas</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Risk menecment</div>
                            </li>
                        </ul>
                    </div>
                    <a class="btn-solid-reg page-scroll" href="{% url 'contact' %}">Sən də qoşul</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/price_action.png' %}" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% include "scripts.html" %}
{% include "footer.html" %}

