{% load static %}
{% include "head.html" %}
{% include "header.html" %}
<style>
    .header, .header-frame{
        display: none;
    }
    .lougoutcabinet{
        display: none;
    }
</style>
<body>

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Texniki Analiz nədir?</h1>
            </div> 
        </div> 
    </div> 
</header> 

<div class="ex-basic-1">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="{% url 'academy' %}">Home</a><i class="fa fa-angle-double-right"></i><span>Texniki Analiz</span>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Now Is The Time To Upgrade Your Marketing Solution</h2>
                    <p>Target the right customers for your business with the help of Tivo's patented segmentation technology and deploy efficient marketing campaigns. Keep your customers happy and loyal.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Understand customers and meet their requirements</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Targeted client base with Tivo's efficient technology</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="#">SIGN UP</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/technical.png' %}" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% include "scripts.html" %}
{% include "footer.html" %}
