{% load static %}
{% include "head.html" %}
{% include "header.html" %}
<style>
    .header, .header-frame{
        display: none;
    }
    .lougoutcabinet{
        display: none;
    }
</style>
<body>

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Texniki Analiz nədir?</h1>
            </div> 
        </div> 
    </div> 
</header> 

<div class="ex-basic-1">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="{% url 'academy' %}">Home</a><i class="fa fa-angle-double-right"></i><span>Texniki Analiz</span>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Texniki analiz</h2>
                    <p>Texniki analiz keçmişdə baş vermiş qiymət qrafikindən və bazar statistikasından istifadə etməklə qiymət hərəkətliklərinin araşdırılması və ona uyğun proqnozun verilməsi vasitəsidir. Bu analiz metodu özündə müxətlif indicator və modelləri (qrafik və şam modelləri) birləşdirir.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Tradingview ilə tanışlıq</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Dəstək və müqavimət zonaları</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Trendlər</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Qrafik modellər</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">İndicator'lar</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Şam modelləri</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Fibonaççi aləti</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">"Elliot wave" nəzəriyyəsi</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="{% url 'contact' %}">Sən də qoşul</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/technical.png' %}" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% include "scripts.html" %}
{% include "footer.html" %}

