{% load static %}
{% include "head.html" %}
{% include "header.html" %}
<style>
    .header, .header-frame{
        display: none;
    }
    .lougoutcabinet{
        display: none;
    }
</style>
<body>

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Ticarət strategiyası və psixologiyası nədir?</h1>
            </div> 
        </div> 
    </div> 
</header> 




<div class="ex-basic-1">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Ticarət strategiyası və psixologiyası</span>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

</body>
{% include "scripts.html" %}

