{% load static %}
{% include "head.html" %}
{% include "header.html" %}
<link rel="stylesheet" href="{% static '/css/base_main.css' %}">
<style>
    .header, .header-frame{
        display: none;
    }
    .mycabinet{
        display: none;
    }
</style>
<body>

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Blockchain Cabinet'ə xoş gəldin, {{ user.first_name }}</h1>
            </div> 
        </div> 
    </div> 
</header> 

<div class="ex-basic-1">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="{% url 'academy' %}">Home</a><i class="fa fa-angle-double-right"></i><span>Şəxsi kabinet</span>
                </div> 
            </div> 
        </div> 
    </div> 
</div>

<!-- Features -->
<div id="features" class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-list"></i>Crypto Consultation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-envelope-open-text"></i>E-learning</a>
                    </li>
                </ul>

                <div class="tab-content" id="argoTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row">
                            <div class="col-lg-6 button-wrapper">
                                <button class="button-9" id="consbtn" role="button">Konsultasiyaya qoşul</button>
                                <div id="consroom" style="display: none;">
                                    <a href="https://app.videosdk.live/rooms/baconsultation-1/Guest_62aba65208b37db392b0be9a/nytu-jsha-r19w">
                                        <div class="container room-wrapper">
                                            <div class="testimonial-author readmore"><h1 class="readmore">Konsultasiya - №1</h1>
                                            </div>
                                            <svg class="arrows">
                                                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                                <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                            </svg>
                                        </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/baconsultation-2/Guest_62aba6b008b37db392b0bec7/3x37-9chq-6cn0">
                                        <div class="container room-wrapper">
                                            <div class="testimonial-author readmore"><h1 class="readmore">Konsultasiya - №2</h1>
                                            </div>
                                            <svg class="arrows">
                                                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                                <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <button class="button-9" id="stdbtn" role="button">Dərsə qoşul (ancaq kurs üzüvləri üçün)</button>
                                <div id="stdroom" style="display: none;">
                                    <a href="https://app.videosdk.live/rooms/stdroom-1/Guest_62aba70508b37db392b0bf27/1n9m-uznn-8tbq">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №1</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/stdroom-2/Guest_62aba76308b37db392b0bf71/0lv2-751s-jap8">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №2</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/stdroom-3/Guest_62aba78208b37db392b0bfa7/0wto-z2jt-srfw">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №3</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/stdroom-4/Guest_62aba7b308b37db392b0bfda/r1nz-gqt1-3qwp">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №4</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/stdroom-5/Guest_62aba7e208b37db392b0c051/gojz-4cn3-2waq">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №5</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/stdroom-6/Guest_62aba80808b37db392b0c0a3/bq26-xta0-u2ue">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №6</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/stdroom-7/Guest_62aba82108b37db392b0c0da/srib-2qff-djm8">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №7</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/stdroom-8/Guest_62aba84308b37db392b0c10d/2ggh-ryoj-6kjh">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №8</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/stdroom-9/Guest_62aba85908b37db392b0c132/v2ux-wxpe-ekuc">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №9</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/stdroom-10/Guest_62aba87108b37db392b0c171/urtc-1nsp-3y61">
                                        <div class="container room-wrapper">
                                        <div class="testimonial-author readmore"><h1 class="readmore">Dərs otağı - №10</h1>
                                        </div>
                                        <svg class="arrows">
                                            <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                            <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                            <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                        </svg>
                                    </div>
                                    </a>
                                </div>
                                <button class="button-9" id="gnrlbtn" role="button">Ümumi otağa qoşul</button>
                                <div id="gnrlroom" style="display: none;">
                                    <a href="https://app.videosdk.live/rooms/gnrl-1/Guest_62aba8f208b37db392b0c1c6/kczg-533n-pxdb">
                                        <div class="container room-wrapper">
                                            <div class="testimonial-author readmore"><h1 class="readmore">Ümumi otaq - №1</h1>
                                            </div>
                                            <svg class="arrows">
                                                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                                <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                            </svg>
                                        </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/gnrl-2/Guest_62aba91408b37db392b0c211/qltj-l2tq-w19b">
                                        <div class="container room-wrapper">
                                            <div class="testimonial-author readmore"><h1 class="readmore">Ümumi otaq - №2</h1>
                                            </div>
                                            <svg class="arrows">
                                                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                                <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                            </svg>
                                        </div>
                                    </a>
                                    <a href="https://app.videosdk.live/rooms/gnrl-3/Guest_62abaa4708b37db392b0c37b/ivq0-1bbq-hknk">
                                        <div class="container room-wrapper">
                                            <div class="testimonial-author readmore"><h1 class="readmore">Ümumi otaq - №3</h1>
                                            </div>
                                            <svg class="arrows">
                                                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                                <path class="a3" d="M0 40 L30 72 L60 40"></path>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h3>Blockchain Kabinetdə yenisən?</h3>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body"> <p> <span class="boldintxt" >Konsultasiya</span>  xidmətindən yararlanmaq üçün əvvəlcədən tədris mərkəzinin əməkdaşları ilə əlaqə saxlanılıb şərtlər ilə tanış olmalı və uyğun vaxt təyin olmalıdır. Daha sonra konsultasiya otağına <span class="boldintxt" >konsultantın icazəsi ilə</span> daxil ola bilərsiniz.</p> </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body"> <p> <span class="boldintxt" >Dərs</span>  otaqları yalnız kursa üzv olan öyrəncilər üçün nəzərdə tutulub. Əgər kursa üzüvsünüzsə cədvəlinizə və otaq nömrəsinə uyğun vaxtda dərsə qoşulub <span class="boldintxt" >müəllmin təsdiqini</span> gözləyin.</p> </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body"> <p> <span class="boldintxt" >Ümumi otaq</span> ictimai istifadə üçün nəzərdə tutulub. Otğa qoşulmaq üçün hər hansı <span class="boldintxt" > icazə tələb olunmasada </span> otğa qoşulmazdan əvvəl təqdim olunan <span class="boldintxt" > qaydalarla</span> tanış olmağınız və əməl etməyiniz tələb olunur.</p> </div>
                                        </li>
                                    </ul>
                                    <!-- <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">LIGHTBOX</a> -->
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="row">
                            <div class="col-lg-6" style="margin-left: auto !important; margin-right: auto !important;">
                                <div class="text-container" style="text-align: center !important;">
                                    <h3>Campaigns Monitoring Tools</h3>
                                    <p>Campaigns monitoring is a feature we've developed since the beginning because it's at the core of Tivo and basically to any marketing activity focused on results.</p>
                                    <!-- <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square" ></i>
                                            <div style="flex: none;" class="media-body">Easily plan campaigns and schedule their starting date</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div style="flex: none;" class="media-body">Start campaigns and follow their evolution closely</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div style="flex: none;" class="media-body">Evaluate campaign results and optimize future actions</div>
                                        </li>
                                    </ul> -->
                                    <!-- <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">LIGHTBOX</a> -->
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->
                    
                </div> <!-- end of tab content -->
                <!-- end of tabs content -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of tabs -->
<script type="text/javascript" src="{% static '/js/custom.js' %}"></script>


<!-- Start of txt.me widget code -->
<!-- <script src="https://v3.txt.me/livechat/js/wrapper/90ff30bf-6205-43f2-9e03-3c04b9fd186f" async></script>
<noscript><a href="https://txt.me/reviews/90ff30bf-6205-43f2-9e03-3c04b9fd186f" rel="nofollow">Rate New Widget customer support</a>, powered by <a href="https://txt.me" rel="noopener nofollow" target="_blank">txt.me</a></noscript> -->
<!-- End of txt.me widget code -->
<!--Start of Tawk.to Script-->


<!-- <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/62abc9347b967b117994f5bc/1g5ngju4e';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script> -->
    <!--End of Tawk.to Script-->
    <style>
        .cc-80ms{
            font-size: 50px !important;
        }
        .cc-18hf{
            display: none !important;
        }
    </style>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="a34d5f25-7381-4111-bebc-156c58df4cf0";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

    <style>
        .cc-80ms{
            font-size: 50px !important;
        }
        .cc-18hf{
            display: none !important;
        }
    </style>
{% include "scripts.html" %}

<!--  -->
